node_modules
.nuxt
.output
.data
dist
.env
.env.*
!.env.example
*.log
coverage
.DS_Store
.vscode/*
!.vscode/extensions.json
programs/target
programs/.anchor
programs/*-keypair.json
supabase/.branches
supabase/.temp
bun.lockb
